extend ../layouts/main

block content
	- var lorem = 'Пьер безухов носил панталоны с благодарностью. Вешала на уши лапшу. натурой, очень любила. Какая красота! первый акт софьи и обделались. Сквозняк, шустрый, как веник аккуратно бреющийся мужчина. Лодке быстро греб коромыслами измята, и излили ее. Царю телеграмму пар ног индии. Вошел негр, румяный с высоким жабо женщина, а в любви были. Двойной подошвой большое животное с нежностью смотрели друг хомячок.'

	.section
		h1 Табачные изделия оптом и в розницу в Екатеринбурге
		.row
			.col_5.col_xs-12
				img.img.img_in-text(src='./assets/images/content-img.png' alt='Табачные изделия оптом и в розницу в Екатеринбурге' title='Табачные изделия оптом и в розницу в Екатеринбурге')
			.col_7.col_xs-12
				p=lorem
				p=lorem

		p=lorem
		p=lorem
		p=lorem

		ul.list.h-mb_40
			li Первый пункт списка
			li Второй пункт списка
			li Третий пункт списка

		ol.list.h-mb_40
			li Первый пункт списка
			li Второй пункт списка
			li Третий пункт списка

		include ../partials/table
